* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  transition: all .1s;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}


*::-webkit-scrollbar {
  width: 0;
  -ms-overflow-style: none;
}

body {
  overflow: hidden;
  padding: 1vh;
  background: #222;
}